@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: sans-serif, 'AppleSDGothicNeo', 'Noto Sans KR';
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
  }
}

@font-face {
  font-family: 'Giants-Inline';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .bg-myGradient {
    background: linear-gradient(45deg, #96d8bf 0 30%, #d4ebe2 0 100%);
    background-size: 400% 400%;
  }
}
